# Scraping
selenium==4.18.1
webdriver-manager==4.0.1
beautifulsoup4==4.12.3

# Data
pandas==2.2.1
numpy==1.26.4
scipy==1.13.0
scikit-learn==1.4.1
matplotlib==3.8.4

# Backend
fastapi==0.110.2
uvicorn[standard]==0.29.0